@model List<CartItem>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Cart";
    decimal totalPrice = 0;
    if (Model != null)
        totalPrice = Model.Select(x => x.Quantity * x.Product.Price).Sum();
}
<style>
    .cart-item-table {
        width: 100%;
    }

    .cart-item-name {
        width: 30%;
    }

    .cart-item-description {
        width: 30%;
    }

    .cart-item-price {
        width: 10%;
    }

    .cart-item-input {
        width: 20%;
    }

    .cart_item_quantity {
        width: 30%;
    }

    .checkout {
        text-align: center;
    }

        .checkout button {
            width: 25%;
        }
</style>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
@if (Model != null)
{
    <form method="post" action="@Url.Action("Checkout", "Cart")">
        <table class="cart-item-table">
            @foreach (var cartItem in Model)
            {
                Html.RenderPartial("_cartItem", cartItem);
            }
        </table>
        <br />
        <div class="checkout">
            <div>Total: <span id="cart-total-price">@totalPrice.ToString("0.####")</span>€</div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div>
                    <button type="submit" class="btn btn-primary">Checkout</button>
                </div>
            }
            else
            {
                <div style="padding-bottom:10px">
                    <button type="button" class="btn btn-secondary" disabled>Checkout</button>
                </div>
                <div style="width: 30%; margin: auto;" class="alert alert-warning" role="alert" data-toggle="tooltip" data-placement="top">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    You are not logged in!
                </div>
            }
        </div>
    </form>
}
else
{
    <div class="text-center">
        <p>The cart is empty! <a href="@Url.Action("Page", "Browse")">Click here to browse products.</a></p>
    </div>
}
<script>
    $(document).ready(function() {
      $("#success-alert").hide();
        });
      function removeProduct(id) {
        $.post("@(Url.ActionLink("RemoveProduct", "Cart"))/" + id, function() {})
        .done(function(data) {
          setCartCount(data.count);
          $("#cart_item_" + id).remove();
          $("#cart-total-price").text(data.totalPrice);
      });
      }
      $(".cart_item_quantity").on('input', function() {
        val = this.value = Math.floor(Math.max(1, Math.abs(this.value)));
        console.log(val);
        id = $(this).attr("product-id");
        $.post("@(Url.ActionLink("SetProductQuantity", "Cart"))/" + id + "?quantity=" + val, function() {})
      .done(function(data) {
          setCartCount(data.count);
          $("#cart_item_" + id + "_total").text(data.productPrice);
          $("#cart-total-price").text(data.totalPrice);
      });
    });
</script>