@model List<CartItem>
@{
    ViewData["Title"] = "Home Page";

    decimal totalPrice = 0;
    if (Model != null)
        totalPrice = Model.Select(x => x.Quantity * x.Product.Price).Sum();
}
<style>
    .cart-item-table {
        width: 100%;
    }

    .cart-item-name {
        width: 30%;
    }

    .cart-item-description {
        width: 30%;
    }

    .cart-item-price {
        width: 10%;
    }

    .cart-item-input {
        width: 20%;
    }

    .cart_item_quantity {
        width: 30%;
    }

    .checkout {
        text-align: center;
    }

        .checkout button {
            width: 25%;
        }
</style>
@if (Model != null)
{
    <form method="post" action="@Url.Action("Checkout", "Cart")">
        <table class="cart-item-table">
            @foreach (var cartItem in Model)
            {
                Html.RenderPartial("_cartItem", cartItem);
            }
        </table>
        <br />
        <div class="checkout">
            <div>Total: <span id="cart-total-price">@totalPrice.ToString("0.####")</span>€</div>
            <button type="submit" class="btn btn-primary">Checkout</button>
        </div>
    </form>
}
else
{
    <p>The cart is empty! <a href="@Url.Action("Page", "Browse")">Click here to browse products.</a></p>
}
<script>
    $(document).ready(function() {
      $("#success-alert").hide();
        });
      function removeProduct(id) {
        $.post("@(Url.ActionLink("RemoveProduct", "Cart"))/" + id, function() {})
        .done(function(data) {
          setCartCount(data.count);
          $("#cart_item_" + id).remove();
          $("#cart-total-price").text(data.totalPrice);
      });
      }
      $(".cart_item_quantity").on('input', function() {
        val = this.value = Math.floor(Math.max(1, Math.abs(this.value)));
        console.log(val);
        id = $(this).attr("product-id");
        $.post("@(Url.ActionLink("SetProductQuantity", "Cart"))/" + id + "?quantity=" + val, function() {})
      .done(function(data) {
          setCartCount(data.count);
          $("#cart_item_" + id + "_total").text(data.productPrice);
          $("#cart-total-price").text(data.totalPrice);
      });
    });
</script>